
#wrapper-1 {
        position:relative;
        left:30px;
        top:-50px;
        width: 250px;
    }

#wrapper-2 {
        position:relative;
        left:-20px;
        top:-60px;
        width: 150px;
    }

#wrapper-3 {
        position:relative;
        left:110px;
        top:-25px;
        width: 250px;
    }



div > #animation{
        position:relative;
        left:200px;
        top:-12px;
        height:150px;
        width: 150px;
    }


#img-footer{
        position:relative;
        left:100px;
        top:-12px;
    }


#data-footer{
        position:relative;
        left:120px;
        top:-12px;
    }

#text-1, #text-2, #text-3{
        position:absolute;
        top:70px;
        font-size:10px; 
      }



#news > div > i{
        position: relative;
        font-size:15px;
        top:-20px;
        left:-80px;
        z-index:-1;
    }

#politics-footer > h6{
        position: relative;
        top:5px;
    }

#nosotros{
    height:800px;
}


#nosotros .texto-nosotros{
    display:flex !important ;
    flex-direction:column;
}