body
{
  background-color: black;
  color:white;
}

.grid
{
  display: grid;
  grid-template-areas:"head head"
                      "content side"
                      "foot foot" ;
  grid-template-rows: 150px 1fr 150px;
  grid-template-columns: 1fr 200px;
} 

.red
{
  background-color: red;
}

.blue
{
  background-color: blue;
}

.green
{
  background-color: green;
}