body
{
  background-color: skyblue;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.box
{
  margin: 8px;
  padding: 8px;
  border-style: solid;
  border-width: 1px;
  background-color: salmon;
  border-top: solid 0px;
  border-radius: 8px;
  height: 150px;
  width: 400px;
  color:white
  
} 

#send
{
  background-color: green;
  padding: 10 px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border-style: outset;
  border-radius: 4px;
  
  
}

#cancel
{
  background-color:red;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border-style: outset;
  border-radius: 4px;
}

h1 
{
  text-align: center;
}

a
{
  text-decoration: none;
  letter-spacing: 1px;
}