.main-nav{
    margin-top: 10px;
    list-style: none;
    padding-left: 0px;
    color:white;
    background-color: black;
    border-radius: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main-nav__item{
    display: inline-block;
    padding:5px;
    text-decoration: none;
}

.main-nav__item:hover{ 
    background-color: white;
    color:black;
}

.main-nav__item a::after{ 
    content: " - ";
}