*{
    margin:0;
    padding:0;
    box-sizing: border-box;
} 

html{
    font-size:62.5%;
}

.father{
    background-color:grey ;
    box-shadow: 4px 4px 8px #999;
    width: 45vw;
    min-width:500px;
    max-width: 600px;
    height:70vh;
}


.father figure > img{   
    width:600px;
    min-height: 500px;
    max-width: 700px;
    height:500px;   
    position:relative;
    right:120px;
}

.father span{   
    font-family: Ubuntu;
    font-size: 5rem;
    padding:0 50px;
    margin-top:10px;
    color: white;
    background-color:black;
    border-radius: 3px;
    position:absolute;
    top:3px;
    left:295px;
}

#p1{   
    font-size: 3rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding:5px;
    max-width: 200px;
    margin-top:80px;
    text-align:center;
    color:black;
    border-radius: 3px;
    position:absolute;
    top:10px;
    left:340px;
}

#p2{   
    font-size: 3rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    position:absolute;
    top:350px;
    right:800px;    
}