.benefits
{
  position:relative; z-index: -1;
  top: 213px;
  width: 500px;
  height: 500px;
  left: 16px;
  text-align: justify;
  font-size: 20px;
  color: #004C97;
}

.benefits fieldset
{
  border: 2px solid #004C97;
  border-radius: 4px;
  font-size: 18px;
}

.benefit .benefitlist li
{ 
  position: relative;
  right: 10px;
  line-height: 45px;  
  font-size: 16px;
  text-align: justify;

  }