.benefits 
{
  position:relative; z-index: -1;
  top: 200px;
  width: 500px;
  height: 500px;
  left: 16px;
  color: #004C97;
}

.benefitlist ul
{
  padding-bottom: 8px;
}

fieldset
{
  border: 2px solid #004C97;
  border-radius: 4px;
  font-size: 20px;
  
}

.lis
{ 
  position: relative;
  text-align: center;
  right: 20px;
  list-style-position: inside;
  line-height: 25px;  
  font-size: 12.5px;
  }