*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;
}

/* Navigation bar */

.navitext
{
  display: flex;
  list-style-type: none;
  overflow: hidden;
  position: fixed;
  width: 100%;
  left:0;
  font-family: Arial, Helvetica, sans-serif;
  font-size:1.3rem;
  background-color: #004C97;
}

.navitext > .titulo
{ 
  float: right;
  display: block;
  font-size: 2rem;
  color: white;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
  position: relative;
  right: 8rem;
}

li a
{
  display: block;
  color: white;
  text-align: center;
  margin-top: 0.4rem;
  padding: 1rem;
  text-decoration: none;
  position: relative;
  left: 90rem;
}

li :hover
{
  background-color: #013161;
}

/* Dropdown menu and button */

.dropdown
{
  display: flex;
  flex-wrap: wrap;
  height: 2.5rem;

}

.dropdown > .dropdown-btn
{ 
  background-color: #37ac02;
  text-align: center;
  color:white;
  position: fixed;
  left: -0.8rem;
  right: 5rem;
  bottom: 59.82rem;
  border:none;
  cursor:pointer;
  padding-top: 1.1rem;
  padding-bottom: 1.4rem;
  padding-right: 1.2rem;
  padding-left:1.5rem;
  font-size: 1.5rem;
} 

.dropdown:hover .dropdown-btn
{
  background-color: #d40e00;
}


.dropdown  > .dropdown-cont
{ 
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: none;
  width: 20rem;
  font-size: 1.2rem;
  position: fixed;
  top:1.5rem;
  right: 3rem;
  left: -0.8rem;
  text-align:center;

}

.dropdown-cont a
{ 
  display: block;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  color: #013161;
  text-align: center;
  text-decoration: none;
  padding:1rem 1.6rem;
}


.dropdown-cont a:hover
{
  background-color: #a7a7a7;
}

.dropdown:hover .dropdown-cont
{
  display: block;
  position: fixed;
  top:4.3rem;
  bottom: 0.1rem;
  height: 20rem;
  z-index: 2;
}

/* Side content */


.titulo
{
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}

.parrafo1
{
  display: flex;
  flex-wrap: wrap;
  position:relative; z-index: -1;
  top:0.1rem;
}

.titulo1
{
  position:relative;
  color:#004C97;
  top:10.5rem;
  bottom: 8rem;
  left: 50rem;
}

.p1
{ 
  height: 20rem;
  width: 50rem;
  font-size: 1.8rem;
  text-align:justify;
  position: relative;
  top:12rem;
  left: 2rem;
}

/* Side content 2 */

.benefits 
{
  position:relative; z-index: -1;
  top: 20rem;
  width: 50rem;
  height: 50rem;
  left: 1.6rem;
  color: #004C97;
}

.benefitlist ul
{
  padding-bottom: 0.8rem;
}

fieldset
{
  border: 0.2rem solid #004C97;
  border-radius: 0.4rem;
  font-size: 2rem;
  
}

.lis
{ 
  position: relative;
  text-align: center;
  right: 2rem;
  list-style-position: inside;
  line-height: 2.5rem;  
  font-size: 1.25rem;
  }

/* Footer */

  .footer{
    background-color:#004C97;
    width:100vw;
    height:6vh;
    grid-area: footer;
    flex-direction: row-reverse;
    position:fixed;
    bottom:0.01rem;
  }

  .footer-p{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size:2rem;
  }