*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;
}

/* Navigation bar */

.navitext
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top:0; 
  width: 100%;
  left:0;
  font-family: Arial, Helvetica, sans-serif;
  font-size:1.3rem;
  background-color: #004C97;
}

.navitext > .titulo
{ 
  float: right;
  display: block;
  font-size: 2rem;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  position: relative;
  right: 400px;
}

li
{
  float: right;
}

li a
{
  display: block;
  color: white;
  text-align: center;
  margin-top: 4px;
  padding: 12px;
  text-decoration: none;
  position: relative;
  bottom: 0px;
}

li:hover
{
  background-color: #013161;
}

/* Dropdown menu and button */

.dropdown
{
  display: flex;
  flex-wrap: wrap;
  height: 11px;

}

.dropdown > .dropdown-btn
{ 
  background-color: #37ac02;
  text-align: center;
  color:white;
  position: fixed;
  left: -8px;
  right: 50px;
  bottom: 599px;
  border:none;
  cursor:pointer;
  padding-top: 11px;
  padding-bottom: 15px;
  padding-right: 12px;
  padding-left:15px;
  font-size: 1.5rem;
} 

.dropdown:hover .dropdown-btn
{
  background-color: #d40e00;
}


.dropdown  > .dropdown-cont
{ 
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: none;
  width: 200px;
  font-size: 1.2rem;
  position: fixed;
  top:15px;
  right: 30px;
  left: -8px;
  text-align:center;

}

.dropdown-cont a
{ 
  display: block;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  color: #013161;
  text-align: center;
  text-decoration: none;
  padding:10px 16px;
}


.dropdown-cont a:hover
{
  background-color: #a7a7a7;
}

.dropdown:hover .dropdown-cont
{
  display: block;
  position: fixed;
  top:43px;
  bottom: 1px;
  height: 200px;
  z-index: 2;
}

/* Side content */


.titulo
{
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}

.parrafo1
{
  display: flex;
  flex-wrap: wrap;
  position:relative; z-index: -1;
  top:1px;
}

.titulo1
{
  position:relative;
  color:#004C97;
  top:105px;
  bottom: 80px;
  left: 500px;
}

.p1
{ 
  height: 200px;
  width: 500px;
  font-size: 18px;
  text-align:justify;
  position: relative;
  top:120px;
  left: 20px;
}

/* Side content 2 */

.benefits 
{
  position:relative; z-index: -1;
  top: 200px;
  width: 500px;
  height: 500px;
  left: 16px;
  color: #004C97;
}

.benefitlist ul
{
  padding-bottom: 8px;
}

fieldset
{
  border: 2px solid #004C97;
  border-radius: 4px;
  font-size: 20px;
  
}

.lis
{ 
  position: relative;
  text-align: center;
  right: 20px;
  list-style-position: inside;
  line-height: 25px;  
  font-size: 12.5px;
  }