body
{
  background-color: black;
  color:black;
  width: 100%;
}

.flex
{
  display: flex;
  height: 100px;
  justify-content: space-evenly;
  background-color: white;
  flex-flow: row wrap;
  align-content: center;
}